whoosh
deeppavlov; python_version=='3.6' or python_version=='3.7'
requests
bs4
pandas
tqdm
nltk
numpy
python-dateutil
dash


# last working on adam's macOS Catalina 10.15.7
# python version 3.7.2

# Whoosh==2.7.4
# deeppavlov==0.17.1
# bs4==4.10.0
# pandas==0.25.3
# tqdm==4.62.0
# nltk==3.4.5
# dash==2.0.0
